{% extends "webapp/base.html" %}

{% block content %}

    <h5> welcome to dashboard page, {{ user }}! </h5>
    
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'dashboard' %}">
        Create a new record
    </a>
    
    <hr>

    <table class="table table-dark table-hover">

        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">CGPA</th>
                <th scope="col">Achievements</th>
                <th scope="col">View</th>
            </tr>
        </thead>

        <tbody>

            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <!-- Include other fields as necessary -->
                    </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>

{% endblock %}
