{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <strong>

            {{record.first_name|upper}}

            {{record.last_name}}

        <div class="card-body">

            <p> <strong> ID: </strong></p> {{record.id}}

            <p> <strong> first_name: </strong></p> {{record.first_name}}

            <p> <strong> last_name : </strong></p> {{record.last_name}}

            <p> <strong> email: </strong></p> {{record.email}}

            <p> <strong> phone: </strong></p> {{record.phone}}

            <p> <strong> address: </strong></p> {{record.address}}

            <p> <strong> city: </strong></p> {{record.city}}

            <p> <strong> cgpa: </strong></p> {{record.cgpa}}

            <p> <strong> achievement: </strong></p> {{record.achievement}}

            <p> <strong> Internship: </strong></p> {{record.Internship}}

            <p> <strong> Placement: </strong></p> {{record.Placement}}

            <p> <strong> HigherStudies: </strong></p> {{record.HigherStudies}}

            <p> <strong> Entreprenuership: </strong></p> {{record.Entreprenuership}}

            <p> <strong> ExtraCurricular: </strong></p> {{record.ExtraCurricular}}

            <p> <strong> Publications: </strong></p> {{record.Publications}}

            <p> <strong> PractiseSchool: </strong></p> {{record.PractiseSchool}}

            <p> <strong> Conference: </strong></p> {{record.Conference}}








            


            



{% endblock %}